.card-img-top {
    max-height: 300px !important;
    min-height: 200px !important;

    max-width: 400px !important;
    min-width: 300px !important;
}

.card {
    max-width: 400px !important;
    min-width: 300px !important;
}